@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.teamName {
  text-decoration: none;
  color: rgb(116, 211, 240);
  transition: 0.4s;
}


